<div class="container-fluid d-flex p-5">
    <div class="row">
        <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
            <div class="card-header">Premium</div>
            <div class="card-body">
                <h5 class="card-title">Gia hạn tài khoản subcriber</h5>
                <p class="card-text">Gia hạn tài khoản subcriber để được hưởng những ưu đãi sau:</p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Được xem nội dung bài viết premium</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Được ưu tiên hiển thị bài viết premium trong kết quả tìm kiếm</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Được hiển thị với thông tin là tài khoản premium</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Tài khoản có thời hạn là 7 ngày</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Khi hết hạn tài khoản cần được gia hạn</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Có được trải nghiệm tốt nhất</a>
                    <form action="/account/premium" method="post" class="pt-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark" href="">Gia hạn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>