{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="../../public/src/registerCheck.js">
</script>
<script>
  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true
  });
  document.getElementById('subscribeForm').addEventListener('submit', e => {
    e.preventDefault();
    const username = $("#txtUsername").val();
    const raw_password = $("#txtPassword").val();
    const name = $('#txtName').val();
    const email = $('#txtEmail').val();
    const captcha = document.querySelector('#g-recaptcha-response').value;
    const raw_dob = $('#txtDOB').val();
    return fetch('/register', {
      method: 'POST',
      headers: { 'Content-type': 'application/json' },
      body: JSON.stringify({ name, email, captcha })
    })
      .then(res => res.json())
      .then(data => {
        console.log(data);
        alert(data.msg);
        if (data.success) return location.reload();
      });
  });
</script>
{{/section}}

<div class="card w-50 mx-auto mt-3">
  <h4 class="card-header">
    Register
  </h4>
  <div class="card-body">
    <form id="frmRegister" method="POST">
      <div class="form-group">
        <label for="txtUsername">User</label>
        <input type="text" class="form-control" id="txtUsername" name="username">
        <small id="UsernameHelp" class="form-text text-muted" style="color:red !important; font-weight: bold;"></small>
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" id="txtPassword" name="raw_password">
        <small id="PasswordHelp" class="form-text text-muted" style="color:red !important; font-weight: bold;"></small>
      </div>
      <div class="form-group">
        <label for="txtConfirm">Confirm</label>
        <input type="password" class="form-control" id="txtConfirm" name="">
        <small id="ConfirmHelp" class="form-text text-muted" style="color:red !important; font-weight: bold;"></small>
      </div>
      <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" name="name">
        <small id="NameHelp" class="form-text text-muted" style="color:red !important; font-weight: bold;"></small>
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="text" class="form-control" id="txtEmail" name="email" placeholder="abc@xyz.com">
        <small id="EmailHelp" class="form-text text-muted" style="color:red !important; font-weight: bold;"></small>
      </div>
      <div class="form-group">
        <label for="txtDOB">DOB</label>
        <input type="text" class="form-control" id="txtDOB" name="raw_dob">
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdaVwQcAAAAAP_HTFLJkRY8i78FgwenX--_0DEs"></div>
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Register
      </button>
    </form>
  </div>
</div>